@model EstructurasDatos_Lab03.Models.PedidosModel

@{
    ViewData["Title"] = "RealizarPedidos";
}

<h1>Realizar Pedidos</h1>
<p>
    <a asp-action="Index" class="btn btn-outline-dark">Regresar</a>
</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form class="form-inline my-2 my-lg-0" asp-controller="Pedidos" asp-action="BuscarFarmacos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="NombreCliente" class="form-control" style="position:absolute; left: 20px; top:0px; width: 300px;" placeholder="Nombre Del Cliente" required />
                <span asp-validation-for="NombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Direccion" style=" position: absolute;left: 335px;  top: 0px" placeholder="Dirección" class="form-control" required />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Nit" class="form-control" style="position:absolute; left: 575px; top:0px" placeholder="Nit" required />
                <span asp-validation-for="Nit" class="text-danger"></span>
            </div>
            <div>
                <a asp-action="ConfirmarPedido" class="btn btn-outline-success" style="position:absolute; left: 825px; top:0px; width: 300px;" role="button">Realizar Pedido</a>
            </div>
            <table class="table table-striped" style="position:absolute; left: 0px; top:50px; width: 74em">
                <thead class="">
                    <tr>
                        <th>
                            Cantidad Comprada
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripcion
                        </th>
                        <th>
                            Casa Productora
                        </th>
                        <th>
                            Precio
                        </th>
                        <th>
                            Precio Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (EstructurasDatos_Lab03.Clases.Farmacos item in ViewBag.Farmacos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CantidadComprada)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CasaProductora)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrecioTotal)
                            </td>
                        </tr>
                    }
                </tbody>
                <thead class="">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Total</th>
                        <th scope="col"><input asp-for="Total" class="form-control alert-dark" /></th>
                    </tr>
            </table>
            <div class="form-group" style="position:absolute; left: 800px; top:-70px">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="Texto">
                <button class="btn btn-outline-info my-2 my-sm-0" style="position:absolute; left: 200px; top:0px" type="submit">Buscar</button>

            </div>
        </form>
    </div>

</div>
